---
import { Icon } from 'astro-icon/components';
---

<section class="bg-gray-700 dark:bg-gray-800 not-prose">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 py-4 text-md text-center font-medium">
    <span class="font-bold">
      <Icon name="tabler:map-pin" class="w-5 h-5 inline-block align-text-bottom" /></span
    > Currently in Stockholm, Sweden. Open to relocating. Dual-citizen of Sweden and the United States.
  </div>
</section>
